/* Styles for pages/blog.js */
.posts {
  list-style-type: none;
  margin: 0;
}

.posts {
  margin: var(--size-1) 0;
}

.posts a {
  background: var(--grey-100);
  color: var(--text-normal);
  display: block;
  padding: var(--size-1);
  text-decoration: none;
}

.posts a:hover {
  background: var(--grey-200);
}

.posts h2 {
  margin-bottom: var(--size-1);
}

.posts p {
  color: var(--text-light);
  font-size: var(--font-size-3);
  font-style: italic;
}

/* Styles for templates/blog.js */
.post > * {
  margin: 1rem 0;
}

.post img {
  width: 100%;
}
