header {
  margin-bottom: var(--size-4);
}

.title {
  font-size: var(--font-size-headline);
  font-family: var(--default-serif);
  letter-spacing: -5px;
}

.title a {
  text-decoration: none;
  color: var(--red-vivid-400);
}

/* Less than 576px */
@media only screen and (max-width: 576px) {
  .title {
    font-size: 4rem;
  }
}

.ul {
  display: flex;
}

.li {
  list-style-type: none;
  padding-right: var(--size-2);
  padding-top: 0.75rem;
  border-top: 2px solid var(--indigo-300);
}

.icon {
  color: var(--cyan-500);
}

.icon:hover {
  color: var(--cyan-700);
}

.anchor {
  color: var(--cyan-500);
  text-decoration: none;
}

.anchor:hover {
  color: var(--cyan-700);
}

.active {
  color: var(--cyan-900);
}
