header {
  margin-bottom: var(--size-4);
}

.title {
  color: var(--red-vivid-400);
  font-size: var(--font-size-headline);
  letter-spacing: -5px;
}

.nav {
  padding: 0.75rem;
}

.ul {
  display: flex;
}

.li {
  list-style-type: none;
  padding-right: var(--size-2);
}

.icon {
  color: var(--cyan-500);
}

.icon:hover {
  color: var(--cyan-700);
}

.anchor {
  color: var(--teal-500);
  text-decoration: none;
}

.anchor:hover {
  color: var(--cyan-700);
}

.active {
  color: var(--cyan-900);
}
