.footer {
  max-width: 750px;
  width: 100%;
  margin-top: var(--size-4);
  padding: 0.75rem;

  display: flex;
  justify-content: space-between;

  color: var(--cyan-500);
}

.anchor {
  color: var(--cyan-500);
}

.anchor:hover {
  color: var(--cyan-700);
}