.footer {
  max-width: 750px;
  width: 100%;
  margin-top: var(--size-4);
  padding: 0.75rem;
  color: var(--cyan-500);

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

/* Less than 576px */
@media only screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
  }
  .links {
    display: flex;
    justify-content: space-evenly;
  }
}

.anchor {
  color: var(--cyan-500);
}

.anchor:hover {
  color: var(--cyan-700);
}

.copyright {
  font-size: var(--font-size-2);
  text-align: center;
}

.attribute {
  font-size: var(--font-size-1);
  text-align: center;
}
